@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

/* NAVBAR STYLE */

.navbar {
  color: #f9faf8;
  background-color: #1f2937;
  height: 100px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  width: 80px;
  height: 80px;
}

.navbar ul {
  display: flex;
  gap: 16px;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* HEADER STYLE */

.header {
  padding-top: 50px;
  color: #f9faf8;
  background-color: #1f2937;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h2 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  text-align: center;
}

.header p {
  font-size: 18px;
  opacity: 0.7;
  margin: 15px 0;
}

.header button {
  border: none;
  background: #3882f6;
  margin: 16px 0;
  padding: 10px 25px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* INFORMATION STYLE */
.information {
  padding: 35px 0;
}

.information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding-bottom: 25px;
}

.information .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxes p {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  padding: 14px;
}

.boxes img {
  height: 85%;
  width: 200px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

/* QUOTE STYLE */

.quote {
  background-color: #e5e7eb;
  text-align: right;
  padding: 30px;
}
.quote p {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  font-style: italic;
}

.quote b {
  font-size: 16px;
  color: #1f2937;
}

/* Call to action STYLE */

.action {
  background-color: #3882f6;
  margin: 4% 12%;
  padding: 2%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.action .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
}

.action h2 {
  color: white;
}

.action p {
  opacity: 0.7;
  margin: 8px 0px;
}

.action button {
  border: 2px white solid;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #3882f6;
}
/* FOOTER STYLE */

footer {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2937;
  color: #f9faf8;
}
